<footer class="l-footer">
  <div class="l-footer__inner l-inner">
    <div class="l-footer-top">
      <div class="l-footer-join">
        <h2 class="l-footer-join__ttl">JOIN US</h2>
        <p class="l-footer-join__lead">“ありがとう”をつくり、<br>ともに成長していく仲間を<br class="u-sm-max">募集しています</p>
        <p class="l-footer-join__btn">
          <a href="https://www.gpol.co.jp/recruit/" target="_blank"><span>採用サイトを見る</span></a>
          <a href="https://www.gpol.co.jp/recruit/recruitinfo/" target="_blank"><span>募集職種を見る</span></a>
        </p>
      </div>
      <div class="l-footer-link">
        <div class="l-footer-link-top">
          <p class="l-footer__logo"><a href="/blog/"><img src="/blog/assets/images/logo_footer.svg" alt="ありがとうをつくり、ともに成長する GROW-PLATHX [グロウプレイス]by GP-ONLINE" width="202" height="93" decoding="async"></a></p>
          <dl class="l-footer__sns">
            <dt>公式SNS</dt>
            <dd>
              <ul>
                <li>
                  <a href="https://x.com/gpol_tw" target="_blank">
                    <img src="/blog/assets/images/x_icon02.png" alt="X">
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/gpol.fb" target="_blank">
                    <img src="/blog/assets/images/fb_icon02.png" alt="Facebook">
                  </a>
                </li>
                <li>
                  <a href="https://note.com/gpol_pr" target="_blank">
                    <img src="/blog/assets/images/note_icon02.png" alt="note">
                  </a>
                </li>
              </ul>
            </dd>
          </dl>
        </div>
        <div class="l-footer-link-bottom">
          <ul class="l-footer-link-bottom__list">
            <li><a href="/blog/all.html">NEW</a></li>
            <li><a href="/blog/people.html">PEOPLE</a></li>
            <li><a href="/blog/company.html">COMPANY</a></li>
            <li><a href="/blog/values.html">VALUES</a></li>
            <li><a href="/blog/work.html">WORK</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="l-footer-bottom">
    <div class="l-footer-bottom__inner l-inner">
      <ul class="l-footer-bottom__list">
        <li><a href="https://www.gpol.co.jp/company/information/" target="_blank">運営会社</a></li>
        <li><a href="https://www.gpol.co.jp/socialmediapolicy/" target="_blank">ソーシャルメディアポリシー</a></li>
        <li><a href="https://www.gpol.co.jp/privacypolicy/" target="_blank">プライバシーポリシー</a></li>
        <li><a href="https://www.gpol.co.jp/external-transmission/" target="_blank">利用者情報の外部送信について</a></li>
      </ul>
      <small class="l-footer__copyright">&copy; GP-ONLINE</small>
      <p class="l-footer__pmark">
        <a href="https://privacymark.jp/" target="_blank"><img src="/blog/assets/images/icon_pmark.png" alt="プライバシーマーク"></a>
        </p>
    </div>
  </div>
</footer>