<header class="l-header js-header">
  <div class="l-header__inner l-inner">
    <div class="l-header-logo">
      <a class="l-header-logo__link" href="/blog/">
      <picture class="l-header-recruitment__img">
        <source media="(max-width: 767px)" srcset="/blog/assets/images/logo_sp.svg" alt="GROW-PLATHX[グロウプレイス] by GP-ONLINE" width="369" height="35">
        <img src="/blog/assets/images/logo.svg" alt="GROW-PLATHX[グロウプレイス] by GP-ONLINE" width="369" height="35" decoding="async">
      </picture>
      </a>
    </div>
    <div class="l-header-recruitment u-md-max">
      <a href="https://www.gpol.co.jp/recruit/" target="_blank" class="l-header-recruitment__link">
        <picture class="l-header-recruitment__img">
          <source media="(max-width: 767px)" srcset="/blog/assets/images/handshake.png" width="750" height="600">
          <img src="/blog/assets/images/handshake.png" srcset="/blog/assets/images/handshake@2x.png" alt="">
        </picture>
        <span class="l-header-recruitment__txt">採用サイトを見る<i class="c-ico-blank-01"><svg><use xlink:href="#ico-blank01"></use></svg></i></span>
      </a>
    </div>
    <button type="button" class="l-header-menu js-menu-trigger" aria-label="メニューを開く" aria-expanded="true">
      <span>
        <span class="l-header-menu__line -top"></span>
        <span class="l-header-menu__line -bottom"></span>
      </span>
    </button>
    <nav class="l-header-nav js-menu-target">
      <div class="l-header-nav__inner">
        <ul class="l-header-nav__items">
          <li class="l-header-nav__item l-header-nav__item--sub js-drop-nav">
            <a class="l-header-nav__link" href="/blog/all.html"><span>NEW</span><span class="u-md-max">新着情報</span></a>
          </li>
          <li class="l-header-nav__item l-header-nav__item--news">
            <a class="l-header-nav__link" href="/blog/people.html"><span>PEOPLE</span><span class="u-md-max">ひと</span></a>
          </li>
          <li class="l-header-nav__item l-header-nav__item--contact">
            <a class="l-header-nav__link" href="/blog/company.html"><span>COMPANY</span><span class="u-md-max">はたらく環境</span></a>
          </li>
          <li class="l-header-nav__item l-header-nav__item--contact">
            <a class="l-header-nav__link" href="/blog/values.html"><span>VALUES</span><span class="u-md-max">価値観</span></a>
          </li>
          <li class="l-header-nav__item l-header-nav__item--contact">
            <a class="l-header-nav__link" href="/blog/work.html"><span>WORK</span><span class="u-md-max">仕事</span></a>
          </li>
        </ul>
        <div class="l-header-nav-recruitment u-md-max">
          <h5 class="l-header-nav-recruitment__ttl">
            　　ジーピーオンラインでは<br>
            一緒に働く仲間を募集しています！\
            <img src="/blog/assets/images/handshake.png" alt="">
          </h5>
          <a href="https://www.gpol.co.jp/recruit/" target="_blank" class="l-header-nav-recruitment__btn">
            採用サイトを見る\
            <i class="c-ico-blank-02"><svg><use xlink:href="#ico-blank01"></use></svg></i>
          </a>
        </div>
      </div>
      <div class="l-header-nav-recruitment u-md-min">
        <a href="https://www.gpol.co.jp/recruit/" target="_blank" class="l-header-nav-recruitment__link">
          <picture class="l-header-nav-recruitment__img">
            <source media="(max-width: 767px)" srcset="/blog/assets/images/top/mv_img_01_sp.jpg" width="750" height="600">
            <img src="/blog/assets/images/handshake.png" srcset="/blog/assets/images/handshake@2x.png" alt="">
          </picture>
          <span class="l-header-nav-recruitment__txt">採用サイトを見る<i class="c-btn-01__ico c-ico-blank-01"><svg><use xlink:href="#ico-blank01"></use></svg></i></span>
        </a>
      </div>
    </nav>
  </div>
  <div class="l-header__bg js-menu-bg js-menu-close-trigger"></div>
</header>