@charset "utf-8";
@use "../../foundation/setting" as *;

//==========================================================================
//_inner.scss
//==========================================================================

//-----------------------------------------------------------------
//.c-inner
//-----------------------------------------------------------------
.c-inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1260px;
}


