@charset "utf-8";
@use "../../foundation/setting" as *;

//==========================================================================
//_lead.scss
//==========================================================================

//-----------------------------------------------------------------
//.c-lead-01
//-----------------------------------------------------------------
.c-lead-01 {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.8;
}








