@charset "utf-8";
@use "../../foundation/setting" as *;

//==========================================================================
//_txt.scss
//==========================================================================

//-----------------------------------------------------------------
//.c-txt-ud
//-----------------------------------------------------------------
.c-txt-ud{
  &--primary{
    background: linear-gradient(transparent 55%, #CCDEFF 55%);
  }
}