@charset "utf-8";
@use "../foundation/setting" as *;

//==========================================================================
//_inner.scss
//==========================================================================

//-----------------------------------------------------------------
//.l-inner
//-----------------------------------------------------------------
.l-inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: $lg + px;
  @include smMax{
    padding-left: sm_vw(40);
    padding-right: sm_vw(40);
  }
}


