@charset "utf-8";
@use "../foundation/setting" as *;

//==========================================================================
//_main.scss
//==========================================================================

//-----------------------------------------------------------------
//.l-main
//-----------------------------------------------------------------
.l-main {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5;
}


