@charset "utf-8";
@use "../foundation/setting" as *;

//==========================================================================
//_page.scss
//==========================================================================

//-----------------------------------------------------------------
//.l-page
//-----------------------------------------------------------------
.l-page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 100px;
  @include smMax{
    padding-top:sm_vw(100);
  }
  &__heading {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
  }
}

