---
import type { Article } from '../types/article';
import { fetchArticles } from '../lib/nilto';

const articles: Article[] = await fetchArticles();

// related_articles_listを持つ記事からおすすめ記事を抽出（暫定：最初の3件を表示）
const recommendedArticles = articles.slice(0, 3);
---

<div class="p-sidebar-recommended">
  <div class="p-sidebar-headline__group">
    <span class="p-sidebar-headline__alphabet">RECOMMENDED</span>
    <h3 class="p-sidebar-headline">おすすめの記事</h3>
  </div>
  <ul class="p-sidebar-recommended__list">
    {
      recommendedArticles.map((article) => (
        <li>
          <a href={`/blog/${article.slug}.html`}>
            <div class="p-sidebar-recommended__thumbnail">
              <img
                src={article.main_visual?.url}
                width="840"
                height="441"
                alt={article.main_visual?.alt ?? ''}
              />
            </div>
            <div class="p-sidebar-recommended__content">
              <span class="p-sidebar-recommended__tag">
                #{article.category?.category_name}
              </span>
              <h4 class="p-sidebar-recommended__ttl">{article.title}</h4>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</div>

