<div class="p-sidebar-sns u-md-min">
  <div class="p-sidebar-sns__headline">
    <h3 class="p-sidebar-sns__ttl"> Follow us<img src="/blog/assets/images/thumbsup.png" alt="" width="39" height="43"></h3>
    <span class="p-sidebar-sns__info">最新情報をおしらせします</span>
  </div>
  <div class="p-sidebar-sns__content">
    <h4 class="p-sidebar-sns__official">公式SNS</h4>
    <ul class="p-sidebar-sns__list">
      <li>
        <a href="https://x.com/gpol_tw" target="_blank" class="share-btn">
          <img src="/blog/assets/images/x_icon.png" alt="X" />
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/gpol.fb" target="_blank" class="share-btn">
          <img src="/blog/assets/images/fb_icon.png" alt="Facebook">
        </a>
      </li>
      <li>
        <a href="https://note.com/gpol_pr" target="_blank" class="share-btn">
          <img src="/blog/assets/images/note_icon.png" alt="note">
        </a>
      </li>
    </ul>
  </div>
</div>
