<div class="p-sidebar-recruit u-md-min">
  <div class="p-sidebar-headline__group">
    <span class="p-sidebar-headline__alphabet">RECRUIT</span>
    <h3 class="p-sidebar-headline">採用情報</h3>
  </div>
  <a href="https://www.gpol.co.jp/recruit/recruitinfo/" target="_blank" class="p-sidebar-recruit__btn">募集職種を見る<i class="c-ico-blank-02"><svg><use xlink:href="#ico-blank01"></use></svg></i></a>
</div>

