---
import SidebarCategory from "./SidebarCategory.astro";
import SidebarRecommended from "./SidebarRecommended.astro";
import SidebarRecruit from "./SidebarRecruit.astro";
import SidebarSns from "./SidebarSns.astro";
---

<div class="p-sidebar">
  <SidebarCategory />
  <SidebarRecommended />
  <SidebarRecruit />
  <SidebarSns />
</div>
