---
import '../../scss/style.scss';
import '../../scss/article.scss';
import '../../scss/archive.scss';
import Base from '../layouts/base.astro';
import Container from '../layouts/container.astro';
import Page from '../layouts/page.astro';
import Header from '../layouts/header.astro';
import Footer from '../layouts/footer.astro';
import RelationCard from '../../components/RelationCard.astro';
import Pager from '../../components/Pager.astro';
import type { Article } from '../../types/article';
import type { Page as AstroPage } from 'astro';
import { fetchArticles } from '../../lib/nilto';
import SidebarCategory from "../../components/SidebarCategory.astro";
import SidebarRecommended from "../../components/SidebarRecommended.astro";
import SidebarRecruit from "../../components/SidebarRecruit.astro";
import SidebarSns from "../../components/SidebarSns.astro";

export async function getStaticPaths({ paginate }: any) {
  const articles: Article[] = await fetchArticles();
  const filtered = articles.filter((a) => a.category?.category_name === 'WORK');

  return paginate(filtered, {
    pageSize: 4
  });
}

interface Props {
  page: AstroPage<Article>;
}

const { page } = Astro.props;

const pageTitle = page.currentPage === 1
  ? "記事一覧 | GROW-PLATHX [グロウプレイス] | ジーピーオンラインの採用オウンドメディア"
  : `記事一覧 (${page.currentPage}ページ目) | GROW-PLATHX [グロウプレイス] | ジーピーオンラインの採用オウンドメディア`;
---

<Base
  pageTitle={pageTitle}
  pageDescription="GROW-PLATHX [グロウプレイス]は、ジーピーオンラインで働く社員のインタビューや、働く環境、価値観、仕事内容の紹介など、私たちがありがとうをつくり、成長していく姿をお届けする採用オウンドメディアです。"
>

<Page pageParameter='blog archive'>

  <Header />

  <Container>
    <div class="l-inner">
      <div class="p-breadcrumb">
        <ul>
          <li><a href="/blog/">トップ</a></li>
          <li>記事一覧</li>
        </ul>
      </div>

      <div class="blog-container">
        <main class="main-content">
          <section class="main-article">
            <div class="archive">
              <h2 class="archive__ttl">
                <span class="font-en">WORK</span>
                <span class="font-jp">仕事</span>
              </h2>
              <div class="relation-list">
                {page.data.map((article) => (
                  <RelationCard article={article} />
                ))}
              </div>
            </div>

            <Pager page={page} />

          </section>

        </main>

        <aside class="sidebar">
          <div class="inner-wrapper-sticky">
            <SidebarCategory />
            <SidebarRecommended />
            <SidebarRecruit />
            <SidebarSns />
          </div>
          <div class="main-sns u-md-max">
            <div class="main-sns__headline">
              <h3 class="main-sns__ttl">
                Follow us
                <img src="/blog/assets/images/thumbsup.png" alt="" width="39" height="43">
              </h3>
              <span class="main-sns__info">最新情報をおしらせします</span>
            </div>
            <div class="main-sns__content">
              <h4 class="main-sns__official">公式SNS</h4>
              <ul class="main-sns__list">
                <li>
                  <a href="https://x.com/gpol_tw" class="share-btn" target="_blank">
                    <img src="/blog/assets/images/x_icon.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/gpol.fb" class="share-btn" target="_blank">
                    <img src="/blog/assets/images/fb_icon.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="https://note.com/gpol_pr" class="share-btn" target="_blank">
                    <img src="/blog/assets/images/note_icon.png" alt="">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </Container>

  <Footer />
</Page>
</Base>

<style lang="scss">
  @use '../../scss/foundation/setting' as *;

  .relation-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 60px;
    @include smMin {
      justify-content: space-between;
    }
    @include mdMax {
      padding-right: 2rem;
      padding-left: 2rem;
    }
    @include smMax {
      row-gap: sm_vw(100);
      padding-right: sm_vw(40);
      padding-left: sm_vw(40);
    }
  }
</style>
