@charset "utf-8";
@use "../../foundation/setting" as *;

//==========================================================================
//_breadcrumb.scss
//==========================================================================

//-----------------------------------------------------------------
//.p-breadcrumb
//-----------------------------------------------------------------
.p-breadcrumb {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 80px;
  @include smMax{
    display: none;
  }
  ul {
    display: flex;
    li {
      position: relative;
      & + li {
        padding: 0 0 0 15px;
        margin: 0 0 0 15px;
        &:before {
          position: absolute;
          top: 50%;
          left: -6px;
          content: "";
          display: block;
          width: 12px;
          height: 1px;
          background-color: #d1d1d1;
        }
      }
      a {
        @include hover {
          text-decoration: underline;
        }
      }
    }
  }
}







