@charset "utf-8";
@use "../../foundation/setting" as *;

//==========================================================================
//_pager.scss
//==========================================================================

//-----------------------------------------------------------------
//.p-pager
//-----------------------------------------------------------------
.p-pager {
  margin: calc(12rem - 4px) -0.8rem 0;
  text-align: center;
  font-size: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  @include smMax {
    margin: sm_vw(160) -4px 0;
  }
  li {
    font-size: 2.2rem;
    font-weight: 500;
    font-family: $font-en;
    margin: 0 0.6rem;
    text-align: center;
    @include smMax {
      font-size: sm_vw(32);
      margin: 0 sm_vw(6);
    }
    a {
      display: block;
      border: 1px solid transparent;
      color: $colorPlain;
      opacity: 0.6;
      &:hover {
        color: $colorMain;
        border-color: $colorMain;
        opacity: 1;
      }
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: relative;
      width: 3.8rem;
      height: 3.8rem;
      @include smMax {
        width: sm_vw(58);
        height: sm_vw(58);
      }
    }
    &.p-pager__current {
      color: $colorMain;
      border: 1px solid $colorMain;
    }
    &.p-pager__blank {
      padding: 1px;
      margin: 0 -8px;
    }
    &.p-pager__prev,
    &.p-pager__next {
      a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        overflow: hidden;
        border-color: $colorPlain;
      }
      svg {
        width: 1.2rem;
        height: auto;
        path {
          stroke: $colorPlain;
          stroke-width: 0.1rem;
          fill: none;
        }
      }
      a:hover {
        border-color: $colorMain;
        svg {
          path {
            stroke: $colorMain;
          }
        }
      }
    }
    &.p-pager__prev {
      margin-right: 3.4rem;
      transform: rotate(-90);
      @include smMax {
        margin-right: sm_vw(60);
      }
      svg {
        transform: rotate(-180deg);
      }
    }
    &.p-pager__next {
      margin-left: 3.4rem;
      @include smMax {
        margin-left: sm_vw(60);
      }
    }
  }
}

