@charset "utf-8";

//==========================================================================
//_ico.scss
//==========================================================================

//-----------------------------------------------------------------
//.c-ico
//-----------------------------------------------------------------
@mixin ico-base {
  display: inline-block;
  svg {
    display: inline-block;
    vertical-align: top;
  }
}

//-----------------------------------------------------------------
//.c-ico-arrow-01
//-----------------------------------------------------------------
.c-ico-arrow-01 {
  @include ico-base;
  width: 8px;
  height: 16px;
  svg {
    width: 8px;
    height: 16px;
    fill: $colorMain;
  }
}

//-----------------------------------------------------------------
//.c-ico-blank-01
//-----------------------------------------------------------------
.c-ico-blank-01 {
  svg {
    width: 10px;
    height: 10px;
    fill: $colorMain;
  }
}
.c-ico-blank-02{
  svg {
    width: 10px;
    height: 10px;
    fill: #FFF;
  }
}

//-----------------------------------------------------------------
//.c-ico-plus
//-----------------------------------------------------------------
.c-ico-plus-01 {
  @include ico-base;
  @include smMin {
    width: 25px;
    height: 25px;
  }
  @include smMax {
    width: 15px;
    height: 15px;
  }
  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    content: "";
    background: $colorMain;
    width: 100%;
    height: 1px;
    @include transition;
  }
  &:after {
    transform: rotate(90deg);
  }
}

//-----------------------------------------------------------------
//.c-ico-close
//-----------------------------------------------------------------
.c-ico-close-01 {
  @include ico-base;
  width: 16px;
  height: 2px;
  position: relative;
  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $colorMain;
  }
  &:before {
    transform: rotateZ(45deg);
  }
  &:after {
    transform: rotateZ(-45deg);
  }
}

//-----------------------------------------------------------------
//.c-ico-reverse
//-----------------------------------------------------------------
.c-ico-reverse {
  transform: rotateY(180deg);
}

//-----------------------------------------------------------------
//.c-ico-white
//-----------------------------------------------------------------
.c-ico-white {
  svg {
    fill: #fff;
  }
}

