@charset "utf-8";

@import "foundation/_setting.scss";
//==========================================================================
//top.scss
//==========================================================================

.top {
	padding-top: 0;
	.l-header {
		transform: translateY(-100px);
		transition: transform 0.5s ease;
		@include smMax{
			transform: translateY(sm_vw(-102));
		}
		&.is-show {
			transform: translateY(0);
		}
	}
	.l-footer {
		padding-top: 80px;
		margin-top: -80px;
		@include smMax {
			padding-top: sm_vw(80);
			margin-top: sm_vw(-80);
		}
	}
	.l-container {
		position: relative;
		z-index: 2;
		@include smMax {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	.flex-container{
    display: flex;
		justify-content: space-between;
    @include mdMax{
      display: contents;
    }
  }
	.main-content{
    @include mdMin{
      flex: 0 0 70%;
      margin-right: 5%;
    }
    @include mdMax{
      order: 0;
    }
  }
	.side-content{
    flex: 1;
    @include mdMin{
      max-width: 300px;
    }
    @include mdMax{
      order: 2;
    }
	}
	.ttl01 {
		display: flex;
		@include smMin {
			flex-direction: column;
		}
		span {
			font-size: 1.8rem;
			font-weight: 500;
			margin-bottom: 20px;
			display: flex;
			letter-spacing: 0.2em;
			@include smMax {
				font-size: sm_vw(24);
				margin: 0 sm_vw(30) 0 0;
				writing-mode: vertical-rl;
				justify-content: space-between;
			}
			&::before {
				content: "【";
			}
			&::after {
				content: "】";
			}
		}
		b {
			font-size: 5rem;
			font-weight: 500;
			@include smMax {
				font-size: sm_vw(56);
				line-height: 1.5;
			}
		}
		/* typing */
		.typing {
			&::after {
				content: "";
				background: #000;
				width: 2px;
				height: 48px;
				margin-left: 10px;
				animation: typing 1s infinite;
				display: inline-block;
				transform: translateY(5px);
				visibility: hidden;
				@include smMax {
					display: none;
				}
			}
			&.is-start::after {
				visibility: visible;
			}
			@keyframes typing {
				0% {
					opacity: 0;
				}
				49% {
					opacity: 0;
				}
				50% {
					opacity: 1;
				}
				99% {
					opacity: 1;
				}
			}
		}
	}
	.mv {
		background: url("../images/top/mv_bg.jpg");
		position: relative;
		&-news {
			display: flex;
			&-wrap {
				background: #FFF;
				display: flex;
				align-items: center;
				height: 40px;
				border-top: solid 1px #000;
				border-bottom: solid 1px #000;
				animation: newsSlider 45s linear infinite;
				@include smMax {
					height: sm_vw(80);
				}
				@keyframes newsSlider {
					0% {transform: translateX(0);}
					100% {transform: translateX(-100%);}
				}
			}
			dl {
				display: flex;
				font-size: 1.4rem;
				padding-right: 80px;
				white-space: nowrap;
				@include smMax {
					font-size: sm_vw(24);
					padding-right: 40px;
				}
				&::before {
					content: "NEWS";
					font-size: 1.4rem;
					font-family: $font-en;
					margin-right: 10px;
					@include smMax {
						font-size: sm_vw(24);
					}
				}
				dt {
					font-family: $font-en;
				}
				dd {
					margin-left: 10px;
				}
			}
		}
		&-inner {
			padding: 50px 20px;
			max-width: 1480px;
			@include smMax {
				padding: sm_vw(40) sm_vw(40) sm_vw(80);
			}
		}
		&-container {
			&--main {
				flex: 0 0 72.5%;
			}
			&--side {
				@include mdMin{
					max-width: 330px;
				}
				@include mdMax{
					margin-top: sm_vw(80);
				}
			}
		}
		&-lead {
			border: solid 1px #000;
			background: rgba(#FFF,0.6);
			padding: 80px 30px 30px;
			@include lgMin {
				padding: 105px 75px 75px;
				min-height: 580px;
			}
			@include smMax {
				padding: sm_vw(80) sm_vw(40);
			}
			&__title {
				@include smMin {
					max-width: 705px;
				}
			}
			&__text {
				margin-top: 60px;
				font-size: 1.6rem;
				line-height: 2.2;
				@include smMax {
					margin-top: sm_vw(70);
					font-size: sm_vw(26);
					line-height: 1.8;
				}
			}
			&__wrap {
				display: flex;
				flex-direction: column;
				@include lgMin {
					justify-content: space-between;
					align-items: flex-end;
					flex-direction: row;
				}
				@include mdMax {
					justify-content: space-between;
					align-items: flex-end;
					flex-direction: row;
				}
			}
			&__btn {
				width: 320px;
				margin: 20px 0 0;
				@include lgMin {
					margin: 0 0 0 20px;
				}
				@include mdMax {
					margin: 0 0 0 20px;
				}
				@include smMax {
					display: none;
				}
				a {
					width: 100%;
					height: 94px;
					display: flex;
					justify-content: center;
					align-items: center;
					background: #000;
					overflow: hidden;
					position: relative;
					border: 1px solid #000;
					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 0;
						height: 100%;
						background-color: #fff;
						transition: all .3s;
					}
					span {
						color: #FFF;
						font-size: 1.7rem;
						font-weight: bold;
						display: flex;
						align-items: center;
						position: relative;
						z-index: 2;
						transition: all .3s;
						&::before {
							content: "";
							width: 42px;
							height: 28px;
							background: url(/images/handshake@2x.png) no-repeat center / 100%;
							margin-right: 18px;
						}
						&::after {
							content: "";
							width: 12px;
							height: 12px;
							display: block;
							mask-image: url(../images/icon_blank.svg);
							mask-repeat: no-repeat;
							mask-size: 12px;
							background-color: #FFF;
							margin-left: 6px;
							transition: all .3s;
						}
					}
					@include hover{
						&::before {
							width: 100%;
						}
						span {
							color: #000;
							&::after {
								background-color: #000;
							}
						}
					}
				}
			}
		}
		&-anchor {
			margin-top: 50px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			@include smMax {
				margin-top: sm_vw(80);
			}
			li {
				width: 48%;
				border-bottom: solid 1px #000;
				&:nth-child(1),
				&:nth-child(2) {
					border-top: solid 1px #000;
				}
				a {
					width: 100%;
					height: 95px;
					display: flex;
					align-items: center;
					padding: 0 15px;
					@include smMax {
						height: sm_vw(140);
						padding: 0 sm_vw(20);
						flex-direction: column;
						align-items: flex-start;
						justify-content: center;
						position: relative;
					}
					&::after {
						content: "";
						width: 24px;
						height: 12px;
						background: url(../images/arrow.svg) no-repeat center / 100%;
						transform: rotate(90deg);
						margin-left: auto;
						@include smMax {
							width: sm_vw(28);
							height: sm_vw(13);
							position: absolute;
							right: sm_vw(20);
						}
					}
					b {
						font-family: $font-en;
						font-size: 3.3rem;
						font-weight: bold;
						margin-right: 10px;
						@include smMax {
							font-size: sm_vw(40);
							margin: 0 0 sm_vw(10);
						}
					}
					span {
						font-size: 1.6rem;
						color: $colorPlain;
						@include smMax {
							font-size: sm_vw(24);
						}
					}
					@include hover{
						transform: translateY(10px);
					}
				}
			}
		}
		&-recommend {
			position: relative;
			&__ttl {
				font-family: $font-en;
				font-size: 2rem;
				font-weight: bold;
				@include mdMin{
					position: absolute;
					left: -30px;
					writing-mode: vertical-lr;
					transform: scale(-1);
					display: flex;
					align-items: center;
				}
				@include mdMax {
					display: flex;
					align-items: center;
				}
				@include smMax {
					font-size: sm_vw(32);
				}
				&::before {
					content: "";
					width: 1px;
					height: 40px;
					background: #000;
					display: block;
					margin-bottom: 15px;
					@include mdMax {
						width: 40px;
						height: 1px;
						margin: 0 15px 0 0;
					}
					@include smMax {
						width: sm_vw(40);
						height: sm_vw(2);
						margin: 0 sm_vw(15) 0 0;
					}
				}
			}
			&__slider {
				.swiper-wrapper {
					transition-timing-function: linear;
				}
			}
			&__list {
				@include smMin {
					display: block;
				}
				@include mdMax {
					display: flex;
					margin-top: 30px;
				}
				@include smMax {
					margin-top: sm_vw(30);
				}
				li {
					@include mdMin {
						border: solid 1px #000;
					}
					a {
						display: block;
						@include mdMin {
							padding: 20px;
						}
						@include hover{
							.mv-recommend__img img {
								opacity: .7;
								transform: scale(1.05);
							}
						}
					}
					+ li {
						@include mdMin {
							margin-top: 20px;
						}
					}
				}
			}
			&__img {
				overflow: hidden;
				img {
					pointer-events: none;
				}
			}
			&__date {
				font-family: $font-en;
				font-size: 1.2rem;
				color: $colorPlain;
				margin: 10px 0 5px;
				@include smMax {
					font-size: sm_vw(20);
					margin: sm_vw(10) 0 sm_vw(5);
				}
			}
			&__title {
				font-size: 1.6rem;
				line-height: 1.4;
				overflow: hidden;
				display: -webkit-box;
				text-overflow: ellipsis;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				@include smMax {
					font-size: sm_vw(24);
				}
			}
		}
	}
	.headerPos {
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 100px;
		pointer-events: none;
	}
	.newest {
		margin-top: 160px;
		@include smMax {
			margin-top: sm_vw(160);
		}
		&-inner {
			border-top: solid 1px #000;
			padding-top: 40px;
			transform: translateY(-2px);
			@include smMin {
				@media screen and (max-width: 1330px) {
					padding-left: 20px;
					padding-right: 20px;
				}
			}
			@include mdMin{
				max-width: 1330px;
			}
			@include smMax{
				padding-top: sm_vw(40);
			}
		}
		&-container {
			margin-top: 80px;
			@include smMax {
				margin-top: 0;
			}
			&--main {
				@include mdMax {
					padding-top: 80px;
				}
				@include mdMin{
					flex: 0 0 72%;
				}
				@include smMax {
					padding-top: sm_vw(80);
				}
			}
			&--side {
				@include mdMax {
					display: none!important;
				}
			}
		}
		.sidebar {
			&-headline{
				font-size: 1.2rem;
				font-weight: 500;
				color: $colorPlain;
				margin: 4px 0 0 6px;
				@media (min-width: 1120px){
					font-size: 1.3rem;
					margin: 4px 0 0 12px;
				}
				@include mdMax{
					font-size: 1.3rem;
				}
				@include smMax{
					font-size: sm_vw(28);
					margin: 0 0 0 sm_vw(20);
				}
				&__group{
					display: flex;
					margin: 0 0 20px;
					@include smMax{
						align-items: center;
						margin-bottom: sm_vw(40);
					}
				}
				&__alphabet{
					font-family: $font-en;
					font-size: 1.8rem;
					font-weight: 700;
					color: #000000;
					@media (min-width: 1120px){
						font-size: 2rem;
					}
					@include mdMax{
						font-size: 1.8rem;
					}
					@include smMax{
						font-size: sm_vw(44);
					}
				}
			}
			&-category{
				padding-bottom: 4rem;
				border-bottom: 1px solid #D1D1D1;
				@include smMax{
					padding-bottom: sm_vw(80);
				}
				&__list{
					font-size: 1.4rem;
					line-height: 1.57;
					@include smMax{
						font-size: sm_vw(26);
					}
					@include smMax{
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: space-between;
					}
					& li{
						margin-bottom: 12px;
						&:last-child {
							margin-bottom: 0;
						}
						@include smMax{
							width: 42%;
							margin-bottom: sm_vw(46);
						}
						& a{
							position: relative;
							@include smMax{
								display: block;
								width: 100%;
							}
							&::before{
								position: absolute;
								bottom: -0.3em;
								left: 0;
								content: '';
								width: 0;
								height: 1px;
								background-color: #000;
								transition: all 0.3s;
								@include smMax{
									bottom: sm_vw(-16);
									width: 100%;
								}
							}
							@include hover{
							&::before{
								width: calc(100% + 2px);
							}
						}
					}
					& span.en{
						padding-left: 0;
						font-family: $font-en;
						color: $colorMain;
						letter-spacing: calc(40 / 1000 * 1em);
						margin-right: .5em;
						&::after {
							content: '';
							width: 1px;
							height: 0.9em;
							margin-left: .6em;
							background-color: $colorMain;
							display: inline-block;
							position: relative;
							top: 0.1em;
						}
					}
					& span{
						color: $colorPlain;
						padding-left: 1rem;
						@include smMax{
							padding-left: 1em;
						}
					}
					}
				}
				}
				&-tag{
				padding-top: 4rem;
				padding-bottom: 4rem;
				border-bottom: 1px solid #D1D1D1;
				@include smMax{
					padding-top: sm_vw(80);
					padding-bottom: sm_vw(80);
				}
				&__list{
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					row-gap: 1.8rem;
					column-gap: 0.8rem;
					@include smMax{
						row-gap: sm_vw(40);
						column-gap: sm_vw(20);
					}
					& li{
						width: fit-content;
						height: fit-content;
					}
				}
				&__btn{
					font-size: 1.2rem;
					font-weight: 500;
					padding: 0.4rem 1rem;
					border: 1px solid #000000;
					border-radius: 20px;
					@include smMax{
						font-size: sm_vw(24);
						line-height: 1.2;
						padding: sm_vw(10) sm_vw(25);
					}
					@include hover{
					color: #FFF;
					background-color: #000;
					}
				}
			}
			&-recommended{
				padding-bottom: 4rem;
				padding-top: 4rem;
				@include smMin{
					border-bottom: 1px solid #D1D1D1;
				}
				@include smMax{
					padding-bottom: 0;
				}
				&__list{
					& li{
						margin-bottom: 16px;
						@include smMax{
							margin-bottom: sm_vw(40);
						}
						& a{
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							@include hover{
								opacity: 0.6;
								& img{
									transform: scale(1.05);
								}
							}
						}
					}
				}
				&__thumbnail{
					width: 47%;
					overflow: hidden;
					img {
						pointer-events: none;
					}
				}
				&__content{
					width: 47%;
				}
				&__tag{
					font-family: $font-en;
					font-size: 1.2rem;
					font-weight: 500;
					color: $colorPlain;
					vertical-align: top;
					@include smMax{
						font-size: sm_vw(24);
					}
				}
				&__ttl{
					font-size: 1.4rem;
					font-weight: 400;
					line-height: 1.4;
					@include smMax{
						font-size: sm_vw(28);
					}
				}
			}
			&-recruit{
				padding: 3.2rem 3.4rem;
				margin-top: 60px;
				background-color: #F2F4F5;
				&__btn{
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.5rem;
					font-size: 1.4rem;
					line-height: 2.56;
					color: #FFFFFF;
					padding: 1.2rem;
					margin-top: 20px;
					background-color: $colorMain;
					z-index: 1;
					border: 1px solid #000;
					&::before{
						position: absolute;
						top: 0;
						left: 0;
						content: '';
						width: 0;
						height: 100%;
						background-color: #FFF;
						transition: all 0.3s;
						z-index: -1;
					}
					& svg{
						transition: all 0.3s;
					}
					@include hover{
						color: #000;
						& svg{
							fill: #000;
						}
						&::before{
							width: 100%;
						}
					}
				}
			}
			&-sns{
				margin-top: 60px;
				&__headline{
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 0.4rem;
				}
				&__ttl{
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.5rem;
					font-family: $font-en;
					font-size: 2rem;
					font-weight: 700;
					& img{
						width: 19.22px;
						height: 21.36px;
					}
				}
				&__info{
					position: relative;
					font-size: 1.6rem;
					font-weight: 500;
					&::before{
						position: absolute;
						bottom: -10px;
						left: -24.4px;
						transform: rotate(-20deg);
						content: '';
						width: 1px;
						height: 40px;
						background-color: $colorPlain;
					}
					&::after{
						position: absolute;
						right: -24.4px;
						bottom: -10px;
						transform: rotate(20deg);
						content: '';
						width: 1px;
						height: 40px;
						background-color: $colorPlain;
					}
				}
				&__content{
					display: flex;
					flex-direction: column;
					align-items: center;
					row-gap: 1rem;
					padding: 1.9rem;
					margin-top: 23px;
					border: 1px solid #D1D1D1;
					@media (min-width: 1100px){
						flex-direction: row;
						justify-content: center;
						gap: 1.6rem;
					}
				}
				&__official{
					font-size: 1.6rem;
					font-weight: 500;
				}
				&__list{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					gap: 1rem;
					& li{
						width: 3.2rem;
						height: 3.2rem;
						& a{
							width: 100%;
							height: 100%;
						}
					}
					.share-btn{
						transition: opacity 0.4s;
						@include hover{
							opacity: 0.6;
						}
					}
				}
			}
		}
		.relation{
			@include mdMax{
				order: 1;
				margin-right: -20px;
				margin-left: -20px;
			}
			@include smMax{
				margin-right: sm_vw(-40);
				margin-left: sm_vw(-40);
			}
			&-list{
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 40px;
				row-gap: 60px;
				@include mdMax{
					grid-template-columns: 1fr;
					padding-right: 2rem;
					padding-left: 2rem;
				}
				@include smMax{
					row-gap: sm_vw(100);
					padding-right: sm_vw(40);
					padding-left: sm_vw(40);
				}
			}
			&-link{
				display: block;
				width: 100%;
				@include hover{
					& img{
						opacity: 0.7;
						transform: scale(1.05);
					}
				}
				&__fig{
					position: relative;
					width: 100%;
					margin-bottom: 10px;
					overflow: hidden;
					@include smMax{
						margin-bottom: sm_vw(16);
					}
					img {
						pointer-events: none;
					}
				}
				&__caption{
					font-size: 1.2rem;
					padding-left: 0.8rem;
					@include smMax{
						font-size: sm_vw(24);
						padding-left: sm_vw(14);
					}
					&__group{
						position: absolute;
						top: 0;
						left: 0;
						display: flex;
						flex-direction: row;
						align-items: center;
						color: #FFF;
						padding: 0.4rem 0.9rem;
						background-color: $colorMain;
						@include smMax{
							padding: sm_vw(8) sm_vw(15);
						}
					}
					&--alphabet{
						font-family: $font-en;
						font-size: 1.4rem;
						padding-right: 0.8rem;
						border-right: 1px solid #FFF;
						@include smMax{
							font-size: sm_vw(26);
							padding-right: sm_vw(14);
						}
					}
				}
				&__time{
					font-family: $font-en;
					font-size: 1.2rem;
					line-height: 3;
					color: $colorPlain;
					margin-bottom: 8px;
					@include smMax{
						font-size: sm_vw(24);
						line-height: 1.5;
						margin-bottom: sm_vw(8);
					}
				}
				&__ttl{
					font-size: 1.8rem;
					font-weight: 500;
					line-height: 1.6;
					margin-bottom: 12px;
					@include smMin{
						margin-top: -10px;
					}
					@include smMax{
						font-size: sm_vw(32);
						margin-bottom: sm_vw(16);
					}
				}
			}
			&-tag{
				margin-right: 8px;
				margin-bottom: 8px;
				font-size: 1.2rem;
				line-height: 1.83;
				padding: 0.3rem 1rem;
				border: 1px solid $colorMain;
				border-radius: 20px;
				transition: all .3s;
				@include smMax{
					font-size: sm_vw(22);
					padding: sm_vw(6) sm_vw(14);
				}
				@include smMin{
					&:hover {
						background-color: $colorMain;
						color: #fff;
					}
				}
				&List{
					display: flex;
					flex-wrap: wrap;
				}
			}
			&-more{
				display: flex;
				justify-content: flex-end;
				margin-top: 70px;
				@include smMax{
					padding-left: sm_vw(40);
					margin-top: sm_vw(40);
				}
				&__btn{
					position: relative;
					display: block;
					font-family: $font-en;
					font-size: 2rem;
					font-weight: 600;
					line-height: 2.75;
					width: 200px;
					transition: all 0.3s;
					@include mdMax{
						margin-right: 20px;
					}
					@include smMax{
						font-size: sm_vw(28);
						width: sm_vw(295);
						margin-right: 0;
					}
					&::before{
						position: absolute;
						top: 50%;
						right: 10px;
						transform: translateY(-50%);
						transition: all 0.3s;
						content: '';
						width: 16px;
						height: 8px;
						background-image: url("/blog/assets/images/arrow.svg");
						background-size: contain;
						background-repeat: no-repeat;
						@include smMax{
							right: 0;
							width: sm_vw(25.19);
							height: sm_vw(12);
						}
					}
					&::after{
						position: absolute;
						bottom: 0;
						left: 0;
						transition: all 0.3s;
						content: '';
						width: 200px;
						height: 1px;
						background-color: #000;
						@include smMax{
							width: 100%;
						}
					}
					@include hover{
						padding-left: 10px;
						&::before{
							right: 0;
						}
					}
				}
			}
		}
	}
	.people {
		margin-top: 200px;
		background: #222;
		border-radius: 80px;
		// height: 950px;
		padding: 160px 0 85px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include smMax {
			flex-wrap: wrap;
			margin-top: sm_vw(200);
			border-radius: sm_vw(80);
			height: auto;
			padding: sm_vw(120) sm_vw(40);
		}
		@include smMin {
			padding: 120px 0;
		}
		* {
			color: #FFF;
		}
		&-inner {
			width: 100%;
			// transform: translateY(-2px);
			@include smMin {
				display: flex;
				align-items: center;
				column-gap: 8rem;
			}
			@include mdMin {
				column-gap: 5rem;
			}
			@include mdMax {
				flex-direction: column;
			}
		}
		&__ttl {
			@include smMin {
				padding-left: 65px;
			}
			@include mdMax {
				padding-left: 0;
			}
			@include smMax {
				position: relative;
			}
			span {
				@include smMin {
					margin-bottom: 40px;
				}
			}
			b {
				line-height: 1.6;
			}
			.typing::after {
				background-color: #fff;
			}
			.typing01 {
				@include smMax {
					padding-bottom: 1.5em;
				}
				@include smMin {
					&.is-end::after {
						visibility: hidden;
					}
				}
			}
			.typing02 {
				@include smMax {
					position: absolute;
					bottom: 0;
					left: 7vw;
				}
				@include smMin {
				}
			}
		}
		&__lead {
			margin-top: 60px;
			font-size: 1.8rem;
			line-height: 2;
			padding-left: 65px;
			@include mdMax {
				padding-left: 0;
			}
			@include smMax {
				font-size: sm_vw(26);
				margin-top: sm_vw(50);
			}
		}
		
		&-detail {
			width: 48rem;
			flex-shrink: 0;
			@include smMax {
				width: 100%;
			}
		}

		&__slider {
			position: relative;
			overflow: hidden;
			@include mdMax {
				width: 100%;
			}
			@include smMin {
				margin-right: calc(50% - 50vw);
			}
			@include smMax {
				margin-right: sm_vw(-80);
				width: auto;
				// padding: 0;
			}
			.swiper-button {
				display: flex;
				margin-top: 4rem;
				margin-left: 20px;
				@include smMax {
					display: flex;
					margin-top: sm_vw(60);
					margin-left: 0;
					div {
						width: sm_vw(58);
						height: sm_vw(58);
						margin-right: sm_vw(32);
						&::after {
							content: "";
							width: sm_vw(24);
							height: sm_vw(12);
						}
					}
				}
				div {
					cursor: pointer;
					width: 4rem;
					height: 4rem;
					transition: all .3s;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 1px solid #D1D1D1;
					margin-right: 2rem;
					&::after {
						content: "";
						width: 1.6rem;
						height: 1rem;
						background-color: #D1D1D1;
						mask-image: url(../images/arrow.svg);
						mask-repeat: no-repeat;
						mask-size: contain;
						display: block;
					}
					&:hover {
						opacity: 0.35;
					}
				}
				&-prev {
					transform: rotate(180deg);
				}
				.swiper-button-disabled {
					opacity: 0.35;
				}
			}
		}
		&-list {
			@include mdMax {
				margin-top: 80px;
				justify-content: flex-start;
			}
			@include smMax {
				margin-top: sm_vw(100);
			}
			&__item {
				position: relative;
				@include smMin {
					padding: 20px 20px 0;
				}
				a {
					background: #FFF;
					position: relative;
					display: block;
					@include hover{
						box-shadow: 0px 0px 15px 10px #000;
						/* transform: rotateY(-30deg); */
						// transform: rotate3d(-0.3, 3, 0, -15deg);
						.people-list__img {
							opacity: 0.7;
						}
						.people-list__title p {
							background-color: #fff;
							color: #000;
						}
					}
				}
				&::after {
					content: "";
					width: 100%;
					height: 200px;
					background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 1;
					opacity: 0.9;
					@include smMin {
						width: calc(100% - 40px);
						left: 20px;
					}
				}
			}
			&__img {
				@include smMin {
					// max-width: 348px;
					transition: 0.3s ease;
				}
				img {
					pointer-events: none;
				}
			}
			&__detail {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-end;
				// padding: 15px;
				padding: 15px 12px;
			}
			&__title {
				text-align: right;
				p {
					box-decoration-break: clone;
					-webkit-box-decoration-break: clone;
					display: inline;
					padding: 0 .3em .1em;
					line-height: 1.8;
					background-color: #000;
					color: #FFF;
					// font-size: 2.1rem;
					font-size: clamp(14px ,1.666vw, 24px);
					font-weight: 500;
					white-space: nowrap;
					@include smMin {
						transition: 0.3s ease;
					}
					@include smMax{
						font-size: sm_vw(36);
					}
				}
			}
			&__tag {
				font-size: 12px;
				color: #D1D1D1;
				margin-left: 5px;
				line-height: 1.2;
				@include smMax{
					font-size: sm_vw(20);
				}
				&List {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-end;
					margin-top: 15px;
				}
			}
		}
		&-more{
			display: flex;
			justify-content: flex-end;
			margin-top: 70px;
			@include smMax{
				padding-left: sm_vw(40);
				margin-top: sm_vw(40);
			}
			&__btn{
				position: relative;
				display: block;
				font-family: $font-en;
				font-size: 2rem;
				font-weight: 600;
				line-height: 2.75;
				width: 200px;
				transition: all 0.3s;
				color: #fff;
				@include mdMax{
					margin-right: 20px;
				}
				@include smMax{
					font-size: sm_vw(28);
					width: sm_vw(295);
					margin-right: 0;
				}
				&::before{
					position: absolute;
					top: 50%;
					right: 10px;
					transform: translateY(-50%);
					transition: all 0.3s;
					content: '';
					width: 16px;
					height: 8px;
					background-image: url("/blog/assets/images/arrow_wh.svg");
					background-size: contain;
					background-repeat: no-repeat;
					@include smMax{
						right: 0;
						width: sm_vw(25.19);
						height: sm_vw(12);
					}
				}
				&::after{
					position: absolute;
					bottom: 0;
					left: 0;
					transition: all 0.3s;
					content: '';
					width: 200px;
					height: 1px;
					background-color: #fff;
					@include smMax{
						width: 100%;
					}
				}
				@include hover{
					padding-left: 10px;
					&::before{
						right: 0;
					}
				}
			}
		}
	}
	.company {
		margin-top: 200px;
		margin-bottom: 700px;
		position: relative;
		@include smMax {
			margin-top: sm_vw(200);
			margin-bottom: sm_vw(780);
		}
		&::after {
			content: "";
			width: 3140px;
			height: 308px;
			position: absolute;
			bottom: -500px;
			left: 0;
			background: url(../images/top/company_slider.png) repeat-x top left / auto 100%;
			animation: companySlider 45s linear infinite;
			@include smMax {
				bottom: sm_vw(-580);
				width: sm_vw(2340);
				height: sm_vw(370);
				animation: companySliderSP 22s linear infinite;
			}
		}
		@keyframes companySlider {
			0% {background-position: 3140px 0;}
			100% {background-position: 0 0;}
		}
		@keyframes companySliderSP {
			0% {background-position: sm_vw(2340) 0;}
			100% {background-position: 0 0;}
		}
		&-inner {
			padding-top: 40px;
			border-top: solid 1px #000;
			transform: translateY(-2px);
			@include smMax{
				padding-top: sm_vw(40);
			}
		}
		&__lead {
			margin-top: 60px;
			font-size: 1.8rem;
			line-height: 2;
			@include smMax{
				font-size: sm_vw(26);
				margin-top: sm_vw(50);
			}
		}
		&-list {
			margin-top: 80px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 40px;
			@include smMax{
				grid-template-columns: 1fr;
				margin-top: sm_vw(100);
				border-top: solid 1px #9ea5ab;
			}
			&__item {
				@include smMax{
					padding: sm_vw(80) 0;
					border-bottom: solid 1px #9ea5ab;
				}
				> a {
					@include hover{
						opacity: 0.7;
						.company-list__img img {
							transform: scale(1.05);
						}
					}
				}
			}
			&__img {
				position: relative;
				width: 100%;
				overflow: hidden;
				img {
					pointer-events: none;
				}
			}
			&__tag {
				display: flex;
				flex-wrap: wrap;
				margin-top: 12px;
				transition: all .3s;
				@include smMax{
					margin-top: sm_Vw(24);
				}
				li {
					margin-right: 8px;
					margin-bottom: 8px;
					height: 24px;
					padding: 0 10px;
					background: #FFF;
					border-radius: 12px;
					font-size: 1.2rem;
					display: flex;
					justify-content: center;
					align-items: center;
					border: solid 1px #000;
					@include smMax{
						font-size: sm_vw(22);
						font-size: sm_vw(22);
						padding: sm_vw(6) sm_vw(14);
					}
					@include smMin{
						&:hover {
							background-color: $colorMain;
							color: #fff;
						}
					}
				}
			}
			&__date {
				font-family: $font-en;
				font-size: 1.2rem;
				color: $colorPlain;
				margin-top: 20px;
				margin-bottom: 8px;
				@include smMax{
					font-size: sm_vw(24);
					line-height: 1.5;
					margin-top: sm_vw(20);
					margin-bottom: 0;
				}
			}
			&__title {
				font-size: 1.8rem;
				font-weight: 500;
				line-height: 1.6;
				margin-top: 5px;
				@include smMax {
					font-size: sm_vw(32);
					margin-top: 0;
				}
			}
		}
		&-more{
			display: flex;
			justify-content: flex-end;
			margin-top: 52px;
			@include smMax{
				padding-left: sm_vw(40);
				margin-top: sm_vw(40);
			}
			&__btn{
				position: relative;
				display: block;
				font-family: $font-en;
				font-size: 2rem;
				font-weight: 600;
				line-height: 2.75;
				width: 200px;
				transition: all 0.3s;
				@include mdMax{
					margin-right: 20px;
				}
				@include smMax{
					font-size: sm_vw(28);
					width: sm_vw(295);
					margin-right: 0;
				}
				&::before{
					position: absolute;
					top: 50%;
					right: 10px;
					transform: translateY(-50%);
					transition: all 0.3s;
					content: '';
					width: 16px;
					height: 8px;
					background-image: url("/blog/assets/images/arrow.svg");
					background-size: contain;
					background-repeat: no-repeat;
					@include smMax{
						right: 0;
						width: sm_vw(25.19);
						height: sm_vw(12);
					}
				}
				&::after{
					position: absolute;
					bottom: 0;
					left: 0;
					transition: all 0.3s;
					content: '';
					width: 200px;
					height: 1px;
					background-color: #000;
					@include smMax{
						width: 100%;
					}
				}
				@include hover{
					padding-left: 10px;
					&::before{
						right: 0;
					}
				}
			}
		}
	}
	.values {
		margin-top: 200px;
		@include smMax {
			margin-top: sm_vw(200);
		}
		&-inner {
			padding-top: 40px;
			border-top: solid 1px #000;
			transform: translateY(-2px);
			@include smMax{
				padding-top: sm_vw(40);
			}
		}
		&__lead {
			margin-top: 60px;
			font-size: 1.8rem;
			line-height: 2;
			@include smMax{
				font-size: sm_vw(26);
				margin-top: sm_vw(50);
			}
		}
		&-list {
			margin-top: 80px;
			display: grid;
			grid-template-columns: 2fr 1fr;
			column-gap: 80px;
			@include smMax{
				margin-top: sm_vw(100);
				grid-template-columns: 1fr;
				border-top: solid 1px #9ea5ab;
			}
			&__item {
				@include smMax{
					padding: sm_vw(80) 0;
					border-bottom: solid 1px #9ea5ab;
				}
				> a {
					@include hover{
						opacity: 0.7;
						.values-list__img img {
							transform: scale(1.05);
						}
					}
				}
			}
			&__img {
				@include smMin {
					overflow: hidden;
				}
				@include smMax {
					width: 100%;
				}
				img {
					pointer-events: none;
				}
			}
			&__tag {
				display: flex;
				flex-wrap: wrap;
				margin-top: 12px;
				transition: all .3s;
				@include smMax{
					margin-top: sm_Vw(24);
				}
				li {
					margin-right: 8px;
					margin-bottom: 8px;
					height: 24px;
					padding: 0 10px;
					background: #FFF;
					border-radius: 12px;
					font-size: 1.2rem;
					display: flex;
					justify-content: center;
					align-items: center;
					border: solid 1px #000;
					@include smMax{
						font-size: sm_vw(22);
						font-size: sm_vw(22);
						padding: sm_vw(6) sm_vw(14);
					}
					@include smMin{
						&:hover {
							background-color: $colorMain;
							color: #fff;
						}
					}
				}
			}
			&__date {
				font-family: $font-en;
				font-size: 1.2rem;
				color: $colorPlain;
				margin-top: 20px;
				margin-bottom: 8px;
				@include smMax{
					font-size: sm_vw(24);
					line-height: 1.5;
					margin-top: sm_vw(20);
					margin-bottom: 0;
				}
			}
			&__title {
				font-size: 1.8rem;
				font-weight: 500;
				line-height: 1.6;
				margin-top: 5px;
				@include smMax {
					font-size: sm_vw(32);
					margin-top: 0;
				}
			}
			&__item--main {
				.values-list__title {
					font-size: 2.2rem;
					@include smMax {
						font-size: sm_vw(32);
						margin-top: 0;
					}
				}
			}
			&__item--sub {
				display: grid;
				grid-template-columns: 1fr;
				row-gap: 40px;
				@include smMax {
					row-gap: 0;
				}
			}
		}
		&-more{
			display: flex;
			justify-content: flex-end;
			margin-top: 52px;
			@include smMax{
				padding-left: sm_vw(40);
				margin-top: sm_vw(40);
			}
			&__btn{
				position: relative;
				display: block;
				font-family: $font-en;
				font-size: 2rem;
				font-weight: 600;
				line-height: 2.75;
				width: 200px;
				transition: all 0.3s;
				@include mdMax{
					margin-right: 20px;
				}
				@include smMax{
					font-size: sm_vw(28);
					width: sm_vw(295);
					margin-right: 0;
				}
				&::before{
					position: absolute;
					top: 50%;
					right: 10px;
					transform: translateY(-50%);
					transition: all 0.3s;
					content: '';
					width: 16px;
					height: 8px;
					background-image: url("/blog/assets/images/arrow.svg");
					background-size: contain;
					background-repeat: no-repeat;
					@include smMax{
						right: 0;
						width: sm_vw(25.19);
						height: sm_vw(12);
					}
				}
				&::after{
					position: absolute;
					bottom: 0;
					left: 0;
					transition: all 0.3s;
					content: '';
					width: 200px;
					height: 1px;
					background-color: #000;
					@include smMax{
						width: 100%;
					}
				}
				@include hover{
					padding-left: 10px;
					&::before{
						right: 0;
					}
				}
			}
		}
	}
	.work {
		margin-top: 200px;
		background: #C4CED5;
		border-radius: 80px;
		padding: 120px 0;
		text-align: center;
		@include smMax {
			margin-top: sm_vw(160);
			border-radius: sm_vw(80);
			padding: sm_vw(120) 0;
			text-align: left;
		}
		.l-inner {
			max-width: 1240px;
		}
		&__ttl {
			@include smMin {
				align-items: center;
			}
			@include smMax {
				padding: 0 sm_vw(40);
			}
		}
		&__lead {
			margin-top: 60px;
			font-size: 1.8rem;
			line-height: 2;
			@include smMax {
				margin-top: sm_vw(40);
				font-size: sm_vw(26);
				padding: 0 sm_vw(40);
			}
		}
		&-list {
			margin-top: 80px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 60px;
			@include smMax {
				grid-template-columns: 1fr;
				gap: 0;
				margin-top: sm_vw(100);
				border-top: solid 1px #9EA5AB;
			}
			&__item {
				@include smMax {
					border-bottom: solid 1px #9EA5AB;
					padding: sm_vw(80) sm_vw(40);
					display: flex;
					flex-direction: column-reverse;
				}
				> a {
					display: flex;
					flex-direction: column-reverse;
					@include smMax{
						flex-direction: column;
					}
					@include hover{
						opacity: 0.7;
						.work-list__img img {
							transform: scale(1.05);
						}
					}
				}
			}
			&__detail {
				text-align: left;
			}
			&__tag {
				display: flex;
				flex-wrap: wrap;
				li {
					margin-right: 8px;
					margin-bottom: 8px;
					height: 24px;
					padding: 0 10px;
					background: #c4ced5;
					border-radius: 12px;
					font-size: 1.2rem;
					color: $colorPlain;
					display: flex;
					justify-content: center;
					align-items: center;
					border: solid 1px $colorPlain;
					@include smMax{
						font-size: sm_vw(22);
						height: sm_vw(40);
						padding: 0 sm_vw(14);
					}
					@include smMin{
						&:hover {
							background-color: $colorPlain;
							color: #fff;
						}
					}
				}
			}
			&__copy {
				font-size: 2.8rem;
				font-weight: bold;
				line-height: 1.6;
				margin-top: 20px;
				&::before,
				&::after {
					display: inline-block;
				}
				&::before {
					content: '“';
				}
				&::after {
					content: '”';
				}
				@include smMax {
					font-size: sm_vw(36);
					margin-top: sm_vw(20);
				}
			}
			&__title {
				font-size: 1.6rem;
				font-weight: 500;
				letter-spacing: 0.04em;
				line-height: 1.75;
				color: $colorPlain;
				margin: 25px 0 15px;
				@include smMax {
					font-size: sm_vw(24);
					margin: sm_vw(20) 0 0;
					line-height: 1.8;
				}
			}
			&__img {
				overflow: hidden;
				@include smMax {
					width: 100%;
					margin: sm_vw(40) 0 0;
				}
				img {
					pointer-events: none;
				}
			}
		}
		&-more{
			display: flex;
			justify-content: flex-end;
			margin-top: 52px;
			@include smMax{
				padding-left: sm_vw(40);
				margin-top: sm_vw(40);
			}
			&__btn{
				position: relative;
				display: block;
				font-family: $font-en;
				font-size: 2rem;
				font-weight: 600;
				line-height: 2.75;
				width: 200px;
				transition: all 0.3s;
				@include mdMax{
					margin-right: 20px;
				}
				@include smMax{
					font-size: sm_vw(28);
					width: sm_vw(295);
					margin-right: 0;
				}
				&::before{
					position: absolute;
					top: 50%;
					right: 10px;
					transform: translateY(-50%);
					transition: all 0.3s;
					content: '';
					width: 16px;
					height: 8px;
					background-image: url("/blog/assets/images/arrow.svg");
					background-size: contain;
					background-repeat: no-repeat;
					@include smMax{
						right: 0;
						width: sm_vw(25.19);
						height: sm_vw(12);
					}
				}
				&::after{
					position: absolute;
					bottom: 0;
					left: 0;
					transition: all 0.3s;
					content: '';
					width: 200px;
					height: 1px;
					background-color: #000;
					@include smMax{
						width: 100%;
					}
				}
				@include hover{
					padding-left: 10px;
					&::before{
						right: 0;
					}
				}
			}
		}
	}
	.fixed-title {
		position: fixed;
    z-index: 10;
    top: 0;
    left: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
		pointer-events: none;
		@media screen and (max-width: 1440px) {
			display: none;
		}
		li {
			position: absolute;
			opacity: 0;
			writing-mode: vertical-lr;
			transform: scale(-1);
			font-family: $font-en;
			font-size: 2.2rem;
			font-weight: bold;
			color: #C4CED5;
			transition: opacity 0.1s ease;
			&.is-active {
				opacity: 1;
			}
		}
		[data-title="work"] {
			color: #FFF;
		}
	}
}